/* ==========================================================
   MAIA - MMSGI AI Assistant
   Sprint 1
==========================================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Segoe UI",sans-serif;

    background:#f4f7fb;

    height:100vh;

    overflow:hidden;

}

.app{

    display:flex;

    height:100vh;

}


/* =======================================
MAIN
=======================================*/

.main-content{

    flex:1;

    display:flex;

    flex-direction:column;

}

.header{

    height:70px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    border-bottom:1px solid #e5e7eb;

}

.header h1{

    font-size:24px;

}

.version{

    color:#666;

}

/* =======================================
CHAT
=======================================*/

.chat-box{

    flex:1;

    overflow:auto;

    padding:35px;

}

.welcome{

    max-width:700px;

    margin:50px auto;

    text-align:center;

}

.welcome-icon{

    font-size:70px;

    margin-bottom:20px;

}

.welcome h2{

    margin-bottom:20px;

}

.welcome p{

    color:#666;

    margin-bottom:20px;

}

.welcome ul{

    list-style:none;

}

.welcome li{

    padding:10px;

}

.user-message{

    display:flex;

    justify-content:flex-end;

    margin:20px 0;

}

.ai-message{

    display:flex;

    justify-content:flex-start;

    margin:20px 0;

}

.bubble-user{

    background:#0F62FE;

    color:white;

    padding:14px 18px;

    border-radius:15px;

    max-width:70%;

    white-space:pre-wrap;

}

.bubble-ai{

    background:white;

    border-radius:15px;

    padding:14px 18px;

    max-width:70%;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

    white-space:pre-wrap;

}

/* =======================================
INPUT
=======================================*/

.input-container{

    background:white;

    border-top:1px solid #e5e7eb;

    padding:20px;

}

.input-wrapper{

    display:flex;

    gap:15px;

    align-items:flex-end;

}

#question{

    flex:1;

    resize:none;

    min-height:60px;

    max-height:180px;

    border:1px solid #ddd;

    border-radius:12px;

    padding:15px;

    font-size:15px;

    outline:none;

}

#send-btn{

    width:60px;

    height:60px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    background:#0F62FE;

    color:white;

    font-size:22px;

}

#send-btn:hover{

    background:#0B52D6;

}

.input-note{

    margin-top:10px;

    color:#777;

    font-size:13px;

}

/* =======================================
   AI Loading Bubble
======================================= */

.bubble-loading{

    background:white;

    border-radius:15px;

    padding:10px 15px;

    max-width:max-content;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

    font-size:14px;

    color:#666;

    white-space:nowrap;

}