<aside class="sidebar">

    <div class="sidebar-header">

        <div class="logo-circle">

            🤖

        </div>

        <div>

            <h2>MAIA</h2>

            <span>MMSGI AI Assistant</span>

        </div>

    </div>

    <button class="new-chat">

        + New Chat

    </button>

    <div class="search-box">

        <input
            type="text"
            placeholder="Cari chat..."
        >

    </div>

    <div class="history">

        <h3>Hari Ini</h3>

        <div class="history-item">

            📄 Employee Handbook

        </div>

        <div class="history-item">

            📘 SOP IT

        </div>

        <div class="history-item">

            ⚖ Kebijakan HR

        </div>

    </div>

    <div class="sidebar-footer">

        <div>⚙ Settings</div>

        <div>ℹ About</div>

    </div>

</aside>